==
<footer>
        <div class="mid">
            <img src="{{ 'assets/img/logo.png'|theme }}" alt="" width="180">
            <ul class="nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#empresa">Empresa</a></li>
                <li><a href="#produtos">Produtos</a></li>
                <li><a href="#representantes">Representantes</a></li>
                <li><a href="#artistas">Artistas</a></li>
                <li><a href="#novidades">Novidades</a></li>
                <li><a href="#contato">Contato</a></li>
                <li><a href="#">Loja Virtual</a></li>
            </ul>
        </div>
        <hr>
        <div class="copy">Copyright 2018 - TODOS OS DIREITOS RESERVADOS.</div>
    </footer>
      
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP_rUGNqsyHAzmLQHnyYwlnDA8UHLTX6I&callback=initMap"
    async defer></script>
    <script src="{{ ['assets/js/plugins.js']|theme }}"></script>
    <script src="{{ ['assets/js/scripts.js']|theme }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    {% scripts %}
    {% framework extras %}
</body>
</html>