==
<form data-request="{{ __SELF__ }}::onFormSubmit" class="form-default">
        {{ form_token() }}
        <div id="{{ __SELF__ }}_forms_flash"></div>
           
    <div class="inpt item1">
        <label for="">Nome:</label>
        <input type="text" name="nome" placeholder="Digite seu nome">
    </div>
    <div class="inpt item2">
        <label for="">E-mail:</label>
        <input type="text" name="email" placeholder="Digite seu e-mail">
    </div>
    <div class="inpt item3">
        <label for="">Assunto:</label>
        <input type="text" name="assunto" placeholder="Digite o assunto da mensagem">
    </div>
    <div class="inpt item4">
        <label for="">Mensagem:</label>
        <textarea name="mensagem" placeholder="Digite aqui sua mensagem"></textarea>
    </div>
    <div class="inpt item5">
        <input type="hidden" name="origem" value="site">
        <button type="submit">Enviar Mensagem</button>
    </div>
   
</form>